<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">

</head>
<body>

<div>
    <h1>Hej!!</h1></br></br>

    <form method="POST" action="/data">
    To check the list of doctor type in the name of the hospital: </br></br>
    <input name = "userquery" type= "text"> </br></br>
    <!--How would you like to display the list - asc or desc: </br></br>
    <input name = "userorder" type= "text"> </br></br>-->
    <button value= "submit" type="submit">Search</button> </br></br>
</form>

</div>


<!--<div>
    {% if user_choice %}
    In {{user_choice}} work: </br></br>
    {% endif %}

<ul>    {% for row in results %}
    <li > dr. {{row[1]}} </li>
    {% endfor %}
</ul> -->




</div>

</body>
</html>
