<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">\
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">

</head>
<body>

<div>
    <h1>Hej!!</h1></br></br>

    <form method="POST" action="/data">
    Enter the SQL query: </br></br>
    <input name = "userquery" type= "text"> </br></br>
    <button value= "submit" type="submit">Search</button> </br></br>
</form>

</div>

<div>

{% if results %}
{{results}}
{% endif %}



<!--    {% for row in results %}
     Hospital name: {{ row[1] }} </br>
    {% endfor %}-->

</div>

</body>
</html>
