<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <title> Rock-Paper-Scisors </title>
</head>
<body>
    <h1> ! It will be a rock-paper-scisors game ! </h1>

    <div>

        <form method="POST" action="/">
            Please enter your name:</br></br>
            <input type="text" name="username"></br></br>
            Please choose- scisors, rock, paper:</br></br>
            <input type="text" name="userchoice"></br></br>
            <button type="submit" value="submit">Send</button>
        </form>
        </br></br>
    </div>

    <div>
            {% if name, choice, comp, result %}
        <p> Hi {{name}}, welcome in the game! You chose {{choice}} </p>
        <p> Computer chose {{comp}} </p>
        <p> {{result}} </p>
        {% endif %}
        </br></br>
    </div>


</body>
</html>
