

body {
 font-family: sans-serif;
 text-align: center;
 color: black;
 background-color: rgba(255, 99, 71, 0.5);
    }

h1 {
    color: white;
    text-shadow: 1px 2px 0 #7A7A7A;
}

.result {
font-size: 24px;
font-weight:800;
color:rgb(255, 99, 71);

}
