{%extends 'base.html' %}
{% block head %}
<h1> Header 1 </h1>
{% endblock %}
{% block body %}
<p> Content 1 <br>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br>
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
    Ut enim ad minim veniam, quis nostrud exercitation ullamco <br>
    laboris nisi ut aliquip ex ea commodo consequat.<br>
    Duis aute irure dolor in reprehenderit in voluptate velit esse<br>
    cillum dolore eu fugiat nulla pariatur. <br>
    Excepteur sint occaecat cupidatat non proident,<br>
    sunt in culpa qui officia deserunt mollit anim id est laborum </p>
{% endblock %}
