body {
 text-align: center;
 background:  #e5eaf5;
 font-family: sans-serif;
}

p {
    font-family: sans-serif;
    text-align: left;
}

h1 {
    color: #a28089;
}

ul {
  display: table;
  margin: 0 auto;
}

input {
    border-radius: 15px;
}

button {
    border-radius: 15px;
    background-color: #a28089;
}

.table_button
 {
     padding-right: 10px;
     background-color: red;
 }
